In [23]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [24]:
survey = pd.read_csv('multipleChoiceResponses.csv', encoding='latin-1')

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (31,83,86,87,98,99,109,116,123,124,127,129,130,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
survey = survey[['GenderSelect', 'Country', 'Age', 'EmploymentStatus', 'CurrentJobTitleSelect']]

In [28]:
survey.head()

,GenderSelect,Country,Age,EmploymentStatus,CurrentJobTitleSelect
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,DBA/Database Engineer
1,Female,United States,30.0,"Not employed, but looking for work",NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",Operations Research Practitioner
4,Male,Taiwan,38.0,Employed full-time,Computer Scientist