In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
data = pd.read_csv('train.csv')

In [4]:
data['Gender'] = data['Sex'].map({'male':0, 'female':1})

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [45]:
import re

In [46]:
data['Title'] = data['Name'].map(lambda name: re.search('[a-zA-Z]+\.',name).group(0))

In [47]:
data['Title'].value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Mlle.          2
Major.         2
Col.           2
Sir.           1
Capt.          1
Ms.            1
Mme.           1
Countess.      1
Jonkheer.      1
Lady.          1
Don.           1
Name: Title, dtype: int64

In [48]:
def classify_title(title):
    if title in ['Mr.', 'Mrs.', 'Miss.', 'Master.', 'Rev.', 'Dr.']:
        return title
    elif title == 'Mme.':
        return 'Mrs.'
    elif title == 'Mlle.':
        return 'Miss.'
    else:
        return 'Rare'

In [49]:
data['Title'] = data['Title'].map(classify_title)

In [50]:
data['Title'].value_counts()

Mr.        517
Miss.      184
Mrs.       126
Master.     40
Rare        11
Dr.          7
Rev.         6
Name: Title, dtype: int64

In [51]:
title_df = pd.get_dummies(data['Title'])

In [52]:
title_df.head()

   Dr.  Master.  Miss.  Mr.  Mrs.  Rare  Rev.
0  0.0      0.0    0.0  1.0   0.0   0.0   0.0
1  0.0      0.0    0.0  0.0   1.0   0.0   0.0
2  0.0      0.0    1.0  0.0   0.0   0.0   0.0
3  0.0      0.0    0.0  0.0   1.0   0.0   0.0
4  0.0      0.0    0.0  1.0   0.0   0.0   0.0

In [53]:
data = pd.concat([data,title_df],axis=1)

In [54]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,Gender,Title,Dr.,Master.,Miss.,Mr.,Mrs.,Rare,Rev.
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,1,Mrs.,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,1,Mrs.,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 21 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
Gender         891 non-null int64
Title          891 non-null object
Dr.            891 non-null float64
Master.        891 non-null float64
Miss.          891 non-null float64
Mr.            891 non-null float64
Mrs.           891 non-null float64
Rare           891 non-null float64
Rev.           891 non-null float64
dtypes: float64(9), int64(6), object(6)
memory usage: 146.3+ KB

In [56]:
data[data['Age'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,Gender,Title,Dr.,Master.,Miss.,Mr.,Mrs.,Rare,Rev.
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,...,C,1,Mrs.,0.0,0.0,0.0,0.0,1.0,0.0,0.0
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,...,Q,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,...,C,1,Mrs.,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,...,Q,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,...,Q,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,...,C,0,Master.,0.0,1.0,0.0,0.0,0.0,0.0,0.0
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,...,Q,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,...,Q,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,...,C,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,...,C,1,Mrs.,0.0,0.0,0.0,0.0,1.0,0.0,0.0
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,719,0,3,"McEvoy, Mr. Michael",male,NaN,0,0,36568,15.5000,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
727,728,1,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,...,Q,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
738,739,0,3,"Ivanoff, Mr. Kanio",male,NaN,0,0,349201,7.8958,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
739,740,0,3,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
760,761,0,3,"Garfirth, Mr. John",male,NaN,0,0,358585,14.5000,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,...,C,0,Dr.,1.0,0.0,0.0,0.0,0.0,0.0,0.0
768,769,0,3,"Moran, Mr. Daniel J",male,NaN,1,0,371110,24.1500,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
773,774,0,3,"Elias, Mr. Dibo",male,NaN,0,0,2674,7.2250,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
776,777,0,3,"Tobin, Mr. Roger",male,NaN,0,0,383121,7.7500,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
778,779,0,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
783,784,0,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.4500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
790,791,0,3,"Keane, Mr. Andrew ""Andy""",male,NaN,0,0,12460,7.7500,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,...,S,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
793,794,0,1,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
825,826,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
826,827,0,3,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,...,Q,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
832,833,0,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
837,838,0,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,...,C,1,Mrs.,0.0,0.0,0.0,0.0,1.0,0.0,0.0
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,...,C,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,...,S,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,...,S,0,Mr.,0.0,0.0,0.0,1.0,0.0,0.0,0.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,S,1,Miss.,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [57]:
median_age = data.groupby('Title')['Age'].median()

In [58]:
median_age

Title
Dr.        46.5
Master.     3.5
Miss.      21.0
Mr.        30.0
Mrs.       35.0
Rare       48.0
Rev.       46.5
Name: Age, dtype: float64

In [62]:
missing_ages = data[data['Age'].isnull()]['Title'].map(median_age)

In [63]:
data['Age'].fillna(missing_ages,inplace=True)

In [65]:
X=data.loc[:,['Pclass','Age','Fare','Gender','Parch','SibSp','Dr.','Mr.','Mrs.','Miss.','Rev.','Master.','Rare']]

In [66]:
y = data['Survived']

In [67]:
X.head()

,Pclass,Age,Fare,Gender,Parch,SibSp,Dr.,Mr.,Mrs.,Miss.,Rev.,Master.,Rare
0,3,22.0,7.2500,0,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,38.0,71.2833,1,0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,3,26.0,7.9250,1,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1,35.0,53.1000,1,0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,3,35.0,8.0500,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [68]:
from sklearn.ensemble import RandomForestClassifier as RFC

In [69]:
clf = RFC(n_estimators=100)

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)

In [72]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [73]:
clf.score(X_test,y_test)

0.82959641255605376

## What if we just make the simple assumption that all males die and all females survive?

In [85]:
df = pd.read_csv('test.csv')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
PassengerId     418 non-null int64
Pclass          418 non-null int64
Name            418 non-null object
Sex             418 non-null object
Age             332 non-null float64
SibSp           418 non-null int64
Parch           418 non-null int64
Ticket          418 non-null object
Fare            417 non-null float64
Cabin           91 non-null object
Embarked        418 non-null object
Survived_pt2    418 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [92]:
df['Survived_pt2'] = data['Sex'].map({'male':0, 'female':1})

In [93]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived_pt2
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0

In [99]:
df['Title'] = df['Name'].map(lambda name: re.search('[a-zA-Z]+\.',name).group(0))

In [101]:
df['Title'] = df['Title'].map(classify_title)

In [103]:
df['Title'].value_counts()

Mr.        240
Miss.       78
Mrs.        72
Master.     21
Rare         4
Rev.         2
Dr.          1
Name: Title, dtype: int64

In [105]:
df['Survived_pt3'] = df['Title'].map({'Mr.':0, 'Miss.':1,'Mrs.':1,'Master.':1,'Rare':1,'Rev.':0,'Dr.':0})

In [109]:
submission = pd.DataFrame({ 'PassengerId': df['PassengerId'], 'Survived': df['Survived_pt3']})

In [110]:
submission.to_csv('submission_pt3.csv', index=False)